body{
    background-color: rgb(98, 98, 231);
    color: rgb(12, 11, 11);
 
}

.pass-field{
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 150px;
    
}
.pass-field input{
    margin-left: 40px;
    margin-top: 20px;
    height: 25px;
    width: 200px;
}
.content p{
    margin-left: 20px;
}
.content ul li{
    text-decoration: none;
    list-style-type: none;
    
}
.content ul li i{
    font-size: 10px;
}
.pass-field i{
    margin-left:-30px ;
}